@media screen and (max-width : 1200px){
    .txt {
        font-size : 1rem;
    }

    .intro2 {
        left : 70%;
    }

    .site {
        padding : 1%;
        margin-left : 1%;
        font-size : 0.8rem;
    }


    .localisation form,   
    .localisation p {

        padding-left: 1%;
        font-size : 1rem;
    }

    .loc{
        margin : 0 1%;
        width : 10%;
    }

    .btn {
        font-size : 0.8rem;
        font-family : DIN;
    }

    .bas {
        margin-left : 0;
    }
}

