
*,
::after,
::before {
    box-sizing: border-box;
}


body{
    margin: 0;
}
p{
    margin: 0;
}
.pageformulaire{
    font-family: 'DIN', sans-serif;
    background-image: url(../img/fond-finaux/fond-formulaire.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lettre{
    width: 10%;
    position: absolute;
    top: 5%;
}
.formulaire{
    background-color: #A9CBD1;
    width: 40%;
    height: 70%;
    text-align: center;
    border-radius: 30px;
    padding-bottom: 0%;
}
.croix{
    width: 5%;
    margin-left: 75%;
    margin-top: 5%;
}
.obtenir{
    padding-top: 3%;
    
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
.inname{
    border-radius: 10px;
    border: none;
    width: 55%;
    height: 30px;
    margin-top: 10px;
}
.firstname{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
.infirstname{
    border-radius: 10px;
    border: none;
    width: 55%;
    height: 30px;
    margin-top: 10px;
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
.inemail{
    border-radius: 10px;
    border: none;
    width: 55%;
    height: 30px;
    margin-top: 10px;
}
.env{
    height: 30px;
    padding-top: 7%;
}
.btn{
    background-color: #000000;
    text-align: center;
    padding: 1.2%;
    margin: auto;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    width: 30%;
    height : 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}