body{
    background-color: #A9CBD1;
    margin : 0;
    font-family: 'DIN', sans-serif;
}

a{
    text-decoration : none;
}

.back {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding-top: 3%;
    margin-top: 0;
    color: black;
    font-size: 1.25rem;
    z-index: 1;
}

.btn-contact {
    z-index: 1;
}

h1{
    color : #457D88;
    font-size: 3rem;
    text-shadow: rgba(255, 255,255, 0.8) 10px -10px 6px;
    margin : 0 15%;
    position : fixed;
    top : 15%;
}

.main{
   /*  border : solid red 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    top : 30%;
    padding : 0 2%;

}

section {
    /* border : green solid; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position : relative;
}

section a{
    width: 100%;
    position : relative;
    left : 0%;
}

section img{
    width: 100%;
}

section h2{
    color : #457D88;
    font-family: DIN;
    font-weight : bold;
    font-size : 1.5rem;
}

.vagues{
    width: 70%;
    z-index: -1;
}

.vagues-gauche{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 20%;
}

.vagues-droite{
    transform: rotate(0.5turn);
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
}