/* Général */

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 80%;
    max-width: 100%;
    width: 100%;
    font-family: 'DIN', sans-serif;
    background-color: #9ecddd;

    --eau-accueil: #9ecddd;
    --eau-niveau-bac: #d0e1e7;
    --eau-type: #A9CBD1;
    --eau-specialite: #C1D5D0;
    --eau-sciences: #c8dad6;
    --eau-commarketing: #d1c5e6;
    --eau-informatique: #a2bcb5;
    --eau-esthetique: #ffede8;
    --eau-video: #ffede8;

    transition: background-color 0.5s ease;
}

a {
    cursor: pointer;
}


div {
    height: 100vh;
}

/* Accueil */

.logo {
    width : 5%;
    position : absolute;
    left : 3%;
    top : 3%;
}

.flowwi{
    width : 10%;
    position : absolute;
    left : 10%;
    top :3.5%;
}

.courant {
    font-size : 1.4rem;
    color :#638389;
    font-weight: 400;
    position: absolute;
    left : 25%;
    top : 4%;
}

.accueil {
    height: 100vh;
    background-image: url(../img/img-accueil/page-accueil.png);
    background-size: 100% 100%;
    position: relative;
}

header {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    width : 17%;
    padding: 3% 1%;
    text-align: center;
    margin-top: 2.5%;
    
}

h1 {
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 3.2rem;
}

.start {
    text-decoration: none;
    color: #638389;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 70px;
    border-radius: 30px;
    background-color: #FFE695;
    box-shadow: rgb(0, 0, 0, 0.2) -10px 15px 6px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 18%;
}

.f-orange {
    width: 30vh;
    position: absolute;
    left: 35%;
    bottom: 19%;

}

.g-violet {
    width: 22vh;
    position: absolute;
    left: 52%;
    bottom: 24%;
}

/* Niveau Bac */
.niveau {
    background-image: url(../img/fond-finaux/fond-bac.png);
    position: relative;
    background-size: 100% 100%;
}

.bulle-b {
    background-color: #94B3B9;
    border-radius: 30px;
    width: 50%;
    height: 15%;
    margin-left: 5%;
    position: relative;
    top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulle-b p {
    font-weight: bold;
    font-size: 1.4rem;
    width: 85%;
    line-height: 1.7rem;
}

.bac a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, 0.5) -10px 15px 6px;
}

.bac {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: -30%;

}

.bac3 {
    background-color: #9CB7B0;
}

.bac5 {
    background-color: #94B3B9;
}


.f-rouge, .boy-v {
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 70%;
}

/* Type de formation */

.type {
    height: 100vh;
    background-image: url(../img/fond-finaux/fond-type.png);
    background-size: 100% 100%;
    position: relative;
}



.bulle-v {
    background-color: #B5A8CB;
    width: 45%;
    height: 14%;
    border-radius: 30px;
    margin-left: 50%;
    position: relative;
    top: 10%;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulle-type {
    font-weight: bold;
    font-size: 1.5rem;

    position: relative;
    letter-spacing: 0.8px;
}


.option-f a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 2% 3%;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, 0.5) -10px 15px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-f {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: -30%;
}

.initial {
    background-color: #FBC2B5;
}

.alternance {
    background-color: #B5A8CB;
}

/* Spécialités */

.specialite {
    height: 100vh;
    background-image: url(../img/fond-finaux/fond-spe.png);
    background-size: 100% 100%;
    position: relative;
}


.specialite section>img {
    height: 70%;
}

.specialite .domaine>section {
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specialite section>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    padding: 12% 13%;
    border-radius: 20px;
    margin: 5% 0;
    line-height: 1.5rem;
}

.domaine {
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 25%;

}

.spe-q {
    background-color: #EFDEA8;
    border-radius: 30px;
    width: 50%;
    padding: 1% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    left: 45%;
}

.spe-q p {

    font-weight: bold;
    font-size: 1.4rem;
    position: relative;
    letter-spacing: 0.8px;
}

.sciences {
    background-color: #759B91;
    box-shadow: #3B5155 -10px 15px 6px;
}

.com {
    background-color: #B5A8CB;
    box-shadow: #685A80 -10px 15px 6px;
}

.informatique {
    background-color: #638389;
    box-shadow: #465C60 -10px 15px 6px;
}

.esthetique {
    background-color: rgb(170, 113, 133);
    box-shadow: #704656 -10px 15px 6px;
}

.video {
    background-color: #E0B1A7;
    box-shadow: #AA7468 -10px 15px 6px;
}

.spe-down {
    position: relative;
    bottom: -40%;
}

.f-bleu {
    width: 10%;
    position: absolute;
    top: 5%;
    left: 5%;

}

/* Page diplômes */

.diplome-background {
    background-size: 100% 100%;
    height: 100vh;
    margin: 0;
    position: relative;
}

.background-sciences {
    background-image: url(../img/fond-finaux/fond-sciences.png);
    /* background-color: #c8dbd7; */
}

.background-info {
    background-image: url(../img/fond-finaux/fond-info.png);
    /* background-color: #98B4AC; */
}

.background-com {
    background-image: url(../img/fond-finaux/fond-com.png);
    /* background-color: #d1c5e5; */
}

.background-esthetique {
    background-image: url(../img/fond-finaux/fond-esthetique.png);
    /* background-color: #b2d1d7; */
}

.background-video {
    background-image: url(../img/fond-finaux/fond-video.png);
    /* background-color: #ffede8; */
}

.diplome-retour {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    /* margin-top: 3%; */
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
    position: relative;
    top: 5%;

}

.diplome-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    position: relative;
    top: 10%;
}

.diplome-bulle {
    margin-left: 4%;
    padding: 3% 3%;
    font-size: 1.5rem;
    height: 70%;
    width: 40%;
    text-align: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diplome-sciences {
    color: #6d9085;
}

.diplome-info {
    color: #457D88;
}

.diplome-com {
    color: #81759d;
}

.diplome-esthetique {
    color: #c8dad6;
}

.diplome-video {
    color: #e2ac9d;
}

.diplome-titre {
    font-size: 4rem;
    letter-spacing: 3px;
    margin-right: 10%;
    text-align: center;
}

.bac-niveau {
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 2.5rem;
}


.suite {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    position: relative;
    top: 25%;
}

.btn-diplome {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    box-shadow: -10px 10px 6px #707070;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.sciences-1 {
    background-color: #6d9085;
}

.sciences-2 {
    background-color: #748d93;
}

.sciences-3 {
    background-color: #9bb0aa;
}

.info-1 {
    background-color: #457D88;
}

.info-2 {
    background-color: #638389;
}

.info-3 {
    background-color: #8AA8A0;
}

.com-1 {
    background-color: #81759d;
}

.com-2 {
    background-color: #968bb0;
}

.com-3 {
    background-color: #b3a8cb;
}

.esthetique-1 {
    background-color: #c8dad6;
}

.esthetique-2 {
    background-color: #beebe1;
}

.esthetique-3 {
    background-color: #b3cec8;
}

.video-1 {
    background-color: #d59785;
}

.video-2 {
    background-color: #eabbac;
}

.video-3 {
    background-color: #f4d6ce;
}


.bonhomme {
    width: 15%;
    position: absolute;
    bottom: 0;
    left : 60%;
}

/* Formation Informatique */
.formation {
    background-image: url(../img/fond-finaux/fond-liste.png);
    background-color: #94B3B9;
    background-position: center;
    background-size: cover;

    height: 100vh;
    margin: 0;
    position: relative;

}

.backformation {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding-top: 3%;
    margin-top: 0;
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
}

.titreform {
    margin-left: 26%;
    font-size: 2.8rem;
    letter-spacing: 2px;

}

.liste {
    position: relative;
    top: 25%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 170%;
   /*  border: solid red 2px; */
    height: 40%;
}

a {
    /*text-decoration: none;*/
    color: black;
}

/* Fiche de formation : Résultat */

.resultat {
    background-image: url(../img/fond-finaux/fondresultat.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    /* border : solid rebeccapurple 2px; */
}

.backresultat {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding-top: 3%;
    margin-top: 0;
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
    /*    border : blue solid 2px; */
}

.titreresultat {
    font-size: 3.75rem;
    padding-left: 10%;
    margin-top: 2%;
}

.ecole {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    margin-top: -2%;
    font-size: 2.5rem;
    color: white;

}

.contenu {
    display: flex;
    margin-top: -2%;
    /*     border : orangered solid 2px; */
    height: 60%;
}

.laformation {
    color: white;
    margin: 0 3%;
    padding: 3% 0;
    height: 8%;
    border-bottom: 2px solid white;
}

.blockblanc {
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    width: 100%;
    padding: 10%;
    font-size: 1.3rem;
    height: 85%;
    /* margin-left: 5%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.noflex {
    /*  border : solid 2px darkcyan; */
    height: 100%;
    width: 40%;
}

.jaune {
    /* border : solid 2px thistle; */
    height: 90%;
    width: 35%;
}

.type-r {
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
    /*  border : solid darkgoldenrod 2px; */
}

.type1 {
    color: black;

}

.type2 {
    color: #638389;
    padding-left: 2%;
  /*   border : solid red 2px; */
    width : 60%;
}

.specialite-r {
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
   /*    border : solid crimson 2px; */
}

.specialite1 {
    color: black;
}

.specialite2 {
    color: #638389;
    padding-left: 5%;
   /*  border : solid green 2px; */
    width : 75%;
}

.matieres {
    color: black;
}

.listematieres {
    color: #638389;
    display: flex;
    font-size: 1.25rem;
    line-height: 1.875rem;
   /*  border : solid hotpink 2px; */
    height: 35%;
    width: 100%;
    position: relative;
    bottom: 5%;
    padding-left: 8%;
}

.colonne1 {
    padding-left: 1%;
    height: 100%;
    /* border : solid yellow 2px; */
    width : 50%;
}

.colonne2 {
    padding-left: 10%;
    height: 100%;
    width : 50%;
   /*  border : solid blue 2px; */
}

.lien {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border : solid saddlebrown 2px; */
    height: 15%;
}

.couleur {
    text-decoration: none;
    color: black;
}

.jaune {
    font-size: 1.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.and {
    color: #FFE695;
    text-align: center;
}

.blockjaune {
    background-color: #FFE695;
    border-radius: 30px;
    width: 80%;
    padding: 5%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metier {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.debouche {
    line-height: 3rem;
    font-size: 1.25rem;
    padding: 0 20%;
    /* border : solid turquoise 2px; */
}

.bas {
    display: flex;
    /* border : solid green 2px; */
    position: relative;
    bottom: -2%;
    margin-left: 15%;
}

.bas img {
    width: 8%;
}

.localisation {
    display: flex;
    align-items: center;
    /*   padding-left: 5%; */
    /*  border : solid rosybrown 2px; */
    height: 2%;
}

.loc {
    width: 10%;
}

.localisation form,
.localisation p {
    padding-left: 6%;
}

.fiche {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.fiche p {
    padding-left: 10%;
}

.mail {
    width: 10%;
}

form select {

    border: none;

    font-size: 1rem;
}

.back {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding-top: 3%;
    margin-top: 0;
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
}

/* Bulles de dialogue */

.txt {
    /* font-weight: bold; */
    line-height : 1.2rem;
    background-color: rgb(255, 255, 255);
    padding: 5% 2%;
    text-decoration: none;
    font-size: 1.2rem;
    height: 20%;
    width: 30%;
    min-width: 15%;
    
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    position : absolute;
    bottom : 30%;
    left : 5%;
}

.intro2{
    position : absolute;
    bottom : 30%;
    left : 65%;
    width : 20%;
}

.niv-f{
    position : absolute;
    bottom : 7%;
    left : 48%;
    padding : 2% 2%;
    height : 15%;
    width: 20%;
   
}

.tp-f{
    position : absolute;
    bottom : 7%;
    left : 38%;
    padding : 2% 2%;
    height : 15%;
}

.dom-f{
    position : absolute;
    top : 5%;
    left : 17%;
    width: 25%;
    height : 17%;
}

.bulltxt {
    background-color: rgb(255, 255, 255);
    padding: 3% 2%;
    text-decoration: none;
    font-size: 1.rem;
    height: 15%;
    width: 20%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position : absolute;
    left : 40%;
    bottom : 5%;
}