body{
    font-family: 'DIN', sans-serif;
    margin: 0;
}
.raccourci{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #457D88;
    height: 100vh;
}
.title{
    font-size: 80px;
    color: #A3D1E0;
    text-shadow: rgba(0, 0, 0, 0.6) 5px 5px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.choix1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t1{
    font-size: 25px;
    color: #C1D5D0;
    margin-bottom: 10px;
}
.sel1{
    border-radius: 20px;
    width: 35vw;
    height: 40px;
    background-color: #C1D5D0;
    color: #457D88;
    font-size: 20px;
}
.choix2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t2{
    font-size: 25px;
    color: #B5A8CB;
    margin-bottom: 10px;
}
.sel2{
    border-radius: 20px;
    width: 35vw;
    height: 40px;
    background-color: #B5A8CB;
    color: #457D88;
    font-size: 20px;
}
.choix3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t3{
    font-size: 25px;
    color: #EFDEA8;
    margin-bottom: 10px;
}
.sel3{
    border-radius: 20px;
    width: 35vw;
    height: 40px;
    background-color: #EFDEA8;
    color: #457D88;
    font-size: 20px;
}
.choix4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t4{
    font-size: 25px;
    color: #A9CBD1;
    margin-bottom: 10px;
}
.sel4{
    border-radius: 20px;
    width: 35vw;
    height: 40px;
    background-color: #A9CBD1;
    color: #457D88;
    font-size: 20px;
}
.env1{
    height: 30px;
    padding-top: 40px;
    display: flex;
    
}
.btnrac{
    background-color: #9CB7B0;
    text-align: center;
    padding: 12px;
    margin: auto;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    width: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.7) 5px 5px;
}
.footrac{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40vh;
    margin-left: 30%;
}
.bullerac{
    background-color: rgb(255, 255, 255);
    padding: 50px 10px;
    text-decoration: none;
    font-size: 20px;
    height: 40px;
    width: 200px;
    min-width: 150px;
    max-width: 200px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bonhommerac{
    width: 150px;
}